*, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'san-francisco-bold';
  font-weight: bold;
  src: url("./assets/fonts/bold.otf") format("opentype");
}

@font-face {
  font-family: 'san-francisco-medium';
  src: url("./assets/fonts/medium.otf") format("opentype");
}
